.hall-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hall-card {
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
    padding: 20px;
    text-align: center;
}

.hall-name h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hall-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.book-button {
    margin-top: 20px;
}

.book-button .btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.book-button .btn:hover {
    background-color: #3e8e41;
}